* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: green;
}
.wrapper {
  width: 590px;
  background: purple;
  color: black;
  border-radius: 8px;
}
.wrapper h1 {
  font-size: 36px;
  text-align: center;
  padding-top: 40px;
}
.wrapper p {
  font-size: 18px;
  text-align: center;
  padding: 5px 0 20px 0;
}
.input-box label{
  font-size: 18px;
  font-weight: 550;
  color: black;
  margin: 5px;
}
.input-box label span{
  color: red;
}
.input-box input{
  width: 100%;
  border: 1px solid red;
  border-radius: 8px;
  padding: 12px;
  
}
